* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(rgba(42, 47, 202, 0.822), rgba(126, 130, 150, 0.7));
    background-repeat: no-repeat;
    height:100vh;
    color:white;
    font-family: 'Nabla', cursive;
    font-size:4vw;

}
#title {
    text-align:center;
}

.play {
    border:1px solid red;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
}

.btn {
    padding:80px 80px;
    border-radius:100%;
    background-color:grey;
    outline:none;
    border:none;
    font-size:25px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paper {
    border-radius:0;
    padding:80px 40px;
    background-color:white;
    font-family: 'Dancing Script', cursive;
    color: black;
}
.rock {
    font-family: 'Noto Sans Mono', monospace;

}
.scissors {
    font-family: 'Noto Sans Mono', monospace;
    background-color:transparent;
    box-shadow:none;
    