* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(rgba(42, 47, 202, 0.822), rgba(126, 130, 150, 0.7));
    background-repeat: no-repeat;
    height:100vh;
    color:white;
    font-family: 'Nabla', cursive;
    font-size:4vw;

}
#title {
    text-align:center;
}